## ahhhhhhhh make it stop

In [1]:
import pandas as pd

import pickle

In [33]:
spotify_results = pickle.load(open('../data/spotify_api_search_results.pkl', 'rb'))
spotify_results.head()

missing = spotify_results[spotify_results['name'].isna()]
missing.head()

,duration_ms,explicit,key,name,release_date,search_query,uri
3,NaN,NaN,NaN,NaN,NaN,2 chainz x gucci mane x quavo good drank,NaN
7,NaN,NaN,NaN,NaN,NaN,21 savage my choppa hate n****s,NaN
59,NaN,NaN,NaN,NaN,NaN,becky g + natti natasha sin pijama,NaN
87,NaN,NaN,NaN,NaN,NaN,brett eldredge wanna be that song,NaN
343,NaN,NaN,NaN,NaN,NaN,jay-z caught their eyes,NaN

In [28]:
spotify_results.tail()

,duration_ms,explicit,key,name,release_date,search_query,uri
823,247160.0,False,"ZAYN, Taylor Swift",I Don’t Wanna Live Forever (Fifty Shades Darker),2017-11-09,zayn / taylor swift i don't wanna live forever...,spotify:track:55n9yjI6qqXh5F2mYvUc2y
824,204583.0,False,"Zedd, Liam Payne",Get Low (with Liam Payne),2017-07-06,zedd get low,spotify:track:2syQ0f4SAQdzvlAewPl1DJ
825,210090.0,False,"Zedd, Alessia Cara",Stay (with Alessia Cara),2017-02-23,zedd stay,spotify:track:6uBhi9gBXWjanegOb2Phh0
826,184732.0,False,"Zedd, Maren Morris, Grey",The Middle,2018-01-23,"zedd, maren morris the middle",spotify:track:09IStsImFySgyp0pIQdqAc
827,195920.0,False,Twenty One Pilots,Heathens,2016-06-16,twenty one pilots heathens,spotify:track:6i0V12jOa3mr6uu4WYhUBr

In [29]:
spotify_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828 entries, 0 to 827
Data columns (total 7 columns):
duration_ms     809 non-null float64
explicit        809 non-null object
key             809 non-null object
name            809 non-null object
release_date    809 non-null object
search_query    828 non-null object
uri             809 non-null object
dtypes: float64(1), object(6)
memory usage: 45.4+ KB

In [34]:
missing_filled = pd.read_csv('../data/missing_modified_results.csv')
missing_filled.head()
# missing['search_query'] = missing['artists']
missing_filled['search_query'] = missing['search_query'].values
missing_filled.head()

,artists,duration_ms,explicit,id,modified_query,name,popularity,search_query
0,"2 Chainz, Gucci Mane, Quavo",222706.0,True,39pS70eeDvyCAF3t8NAlVV,quavo good drank,Good Drank,65.0,2 chainz x gucci mane x quavo good drank
1,"21 Savage, Metro Boomin",148640.0,True,2D2w9943rsnJOGCrI4aMQp,21 savage my choppa,My Choppa Hate Niggas,67.0,21 savage my choppa hate n****s
2,Marillo,191555.0,False,6ItVmJiq8rDwBKq026zSa3,becky g pijama,Como Becky G Sin Pijama,0.0,becky g + natti natasha sin pijama
3,NaN,NaN,NaN,NaN,brett wanna be that song,NaN,NaN,brett eldredge wanna be that song
4,NaN,NaN,NaN,NaN,jayz caught their eyes,NaN,NaN,jay-z caught their eyes

In [3]:
billboard_data = pd.read_csv('../data/billboards.csv')
billboard_data.head()

                          Artist          Song  num_weeks
0                       2 Chainz          4 AM         12
1                       2 Chainz   It's A Vibe         20
2                       2 Chainz         Proud          2
3  2 Chainz x Gucci Mane x Quavo    Good Drank         15
4                2 Chainz, Drake  Bigger > You          2

In [9]:
billboard_data['search_query'] = billboard_data['Artist'].str.lower() + ' ' + billboard_data['Song'].str.lower()
billboard_data.head()

,Artist,Song,num_weeks,search_query
0,2 Chainz,4 AM,12,2 chainz 4 am
1,2 Chainz,It's A Vibe,20,2 chainz it's a vibe
2,2 Chainz,Proud,2,2 chainz proud
3,2 Chainz x Gucci Mane x Quavo,Good Drank,15,2 chainz x gucci mane x quavo good drank
4,"2 Chainz, Drake",Bigger > You,2,"2 chainz, drake bigger > you"

In [41]:
num_weeks = pd.merge(spotify_results.dropna(), billboard_data[['search_query', 'num_weeks']],
                     left_on='search_query', right_on='search_query')
num_weeks.head()

,duration_ms,explicit,key,name,release_date,search_query,uri,num_weeks
0,255560.0,True,"2 Chainz, Travis Scott",4 AM,2017-06-16,2 chainz 4 am,spotify:track:1nX9KhK3Fff27SnrIor2Yb,12
1,210200.0,True,"2 Chainz, Ty Dolla $ign, Trey Songz, Jhene Aiko",It's A Vibe,2017-06-16,2 chainz it's a vibe,spotify:track:6H0AwSQ20mo62jGlPGB8S6,20
2,234666.0,True,"2 Chainz, YG, Offset",PROUD,2018-02-08,2 chainz proud,spotify:track:365wwIjijQdlRJEjUWTidq,2
3,225893.0,True,"2 Chainz, Drake, Quavo",Bigger Than You (feat. Drake & Quavo),2018-06-15,"2 chainz, drake bigger > you",spotify:track:5S1IUPueD0xE0vj4zU3nSf,2
4,220306.0,True,21 Savage,Bank Account,2017-09-23,21 savage bank account,spotify:track:2fQrGHiQOvpL9UgPvtYy6G,28

In [43]:
missing_num_weeks = pd.merge(missing_filled.dropna(), billboard_data[['search_query', 'num_weeks']],
                     left_on='search_query', right_on='search_query', how='left')
missing_num_weeks

,artists,duration_ms,explicit,id,modified_query,name,popularity,search_query,num_weeks
0,"2 Chainz, Gucci Mane, Quavo",222706.0,True,39pS70eeDvyCAF3t8NAlVV,quavo good drank,Good Drank,65.0,2 chainz x gucci mane x quavo good drank,15
1,"21 Savage, Metro Boomin",148640.0,True,2D2w9943rsnJOGCrI4aMQp,21 savage my choppa,My Choppa Hate Niggas,67.0,21 savage my choppa hate n****s,2
2,Marillo,191555.0,False,6ItVmJiq8rDwBKq026zSa3,becky g pijama,Como Becky G Sin Pijama,0.0,becky g + natti natasha sin pijama,4
3,"Jacquees, DeJ Loaf",173053.0,False,0NqZ65jPelNB13gzsvH2Ma,dej loaf at the club,At The Club,67.0,jacquees x dej loaf at the club,7
4,"Kygo, Selena Gomez",216586.0,False,677RjvAT2lpYjo1Whczjzx,kygo it aint me,It Ain't Me,50.0,kygo x selena gomez it ain't me,29
5,Prince Royce,211453.0,False,0u4N6w5lBw5xMrzJitRWUo,corazon,Corazon Sin Cara,68.0,maluma x nego do borel corazon,9
6,"Martin Garrix, Troye Sivan",221904.0,False,6jA8HL9i4QGzsj6fjoxp8Y,martin garrix there for you,There for You,77.0,martin garrix x troye sivan there for you,1
7,"Nas, Kanye West",167907.0,True,1vi9adPJiD4d22ybGp25hy,nas kanye cops,Cops Shot The Kid,57.0,nas cop shot the kid,1
8,"Ozuna, Cardi B",255506.0,False,2SbzdGpOKlH3HIAGTWTbwU,cardi b la modelo,La Modelo,76.0,ozuna x cardi b la modelo,13
9,"Quality Control, Migos, Eurielle",295997.0,True,3hWUIMNBwLNug1O8o2PPRW,too hotty,Too Hotty,65.0,"quavo, takeoff too hotty",4
10,"Selena Gomez, Marshmello",197993.0,False,0tBbt8CrmxbjRP0pueQkyU,selena gomez wolves,Wolves,85.0,selena gomez x marshmello wolves,22
11,"XXXTENTACION, Trippie Redd",146520.0,True,7AQim7LbvFVZJE3O8TYgf2,xxxtentacion fuck love,Fuck Love (feat. Trippie Redd),85.0,xxxtentacion f**k love,20
12,XXXTENTACION,160184.0,True,4UKCKdYiLN6IMA5ZESUTL7,xxxtentacion why am I so in love,the remedy for a broken heart (why am I so in ...,82.0,xxxtentacion the remedy for a broke heart (why...,5

In [46]:
pd.concat([num_weeks, missing_num_weeks], axis=0).to_csv('../data/num_weeks.csv', index=False)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.